@import "../../styles/variables";

.container {
    width: 100vw;
    height: calc(100vh - 126px);
    box-sizing: border-box;
    display: grid;
    grid-template-rows: min-content min-content min-content;
}

.pagecontent {
    height: 100%;
    overflow: auto;
    margin: 20px;
    background-color: white;
    border-radius: 15px;
}

.details {
    table-layout: auto;
    width: 100%;
    margin: 20px 30px;

    th {
        padding: 5px 0;
    }

    td {
        padding: 0 20px 0 0;

        .mincontent {
            width: min-content;
        }
    }
}

.table {
    padding: 10px 20px;
}

.tablecontainer {
    overflow: auto;
    white-space: nowrap; //To get rid of the scroll and inline text
    box-sizing: border-box;
}

.tablehead {
    position: sticky;
    top: 0;
}

.tableheadrow {
    background-color: $primaryMain;
    font-size: 1.3em;
    .tablecell {
        color: $inverseFontColor;
        .splitcell {
            margin: 0 15px;
        }
    }
}

.textfield {
    padding: 0 10px !important;
}

.greytablerow {
    background-color: $secondaryLight;
    &:hover {
        background-color: #949494;
    }
}

.whitetablerow {
    background-color: white;
    &:hover {
        background-color: #949494;
    }
}

.actioncolumn {
    white-space: nowrap;
    background-color: inherit;
}

.deleteIcon {
    color: red;
    &:hover {
        transform: scale(1.3);
    }
}

.editIcon {
    margin-right: 15px;
    &:hover {
        transform: scale(1.3);
    }
}

.addBtn {
    margin: 10px !important;
}

.salesdetails {
    margin: 20px 20px 20px auto;
    table-layout: auto;
    width: 350px;
}

.boldtext {
    font-size: 1.4em;
    color: $primaryMain;
}
