@import "../../styles/variables";

.form {
    display: grid;
    grid-template-rows: auto min-content;
    width: calc(100vw - 60px);
    height: calc(100vh - 90px);
    box-sizing: border-box;

    .hidden {
        display: none;
    }

    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }

    .one {
        display: grid;
        grid-template-rows: min-content auto;

        .body {
            margin: auto 10vh;

            .row {
                display: grid;
                grid-template-columns: 250px auto;
                margin: 8px 0 0 0;

                .label {
                    margin: auto 20px auto 0;
                    font-size: 1em;
                    font-weight: 600;
                }
            }

            .column {
                display: grid;
                grid-template-columns: 250px auto auto;

                .label {
                    margin: auto 20px auto 0;
                    font-size: 1em;
                    font-weight: 600;
                }

                .textfield {
                    margin: 0 20px 0 0;
                }
            }
        }
    }

    .two {
        display: grid;
        grid-template-rows: min-content auto;

        .body {
            margin: auto 10vh;

            .row {
                display: grid;
                grid-template-columns: 250px calc(100% - 250px);
                padding: 15px 20px;

                .boldText {
                    font-size: 1em;
                    font-weight: 700;
                }
            }
        }
    }

    .three {
        display: grid;
        grid-template-rows: min-content auto;

        .body {
            margin: 30px 0px 0px 0px;
        }

        .btndiv {
            text-align: right;
            Button {
                font-size: 1em;
                width: auto;
                margin: 0 0 15px 0;
            }
        }
    }

    .four {
        .body {
            margin: 30px 0px 0px 0px;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px 0px 10px 0px;

        .resetBtn {
            Button {
                font-size: 1em;
                width: auto;
                background-color: #aca9bb;
                color: $inverseFontColor;

                &:disabled {
                    background-color: #c2c2c2;
                    color: $inverseFontColor;
                }
            }
        }

        .nextBtn {
            text-align: right;

            Button {
                font-size: 1em;
                width: auto;

                &:disabled {
                    background-color: hsl(230, 66%, 57%);
                    color: $inverseFontColor;
                }
            }
        }
    }
}
