@import "../../styles/variables";

.container {
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.actionRow {
    width: 100vw;
    box-sizing: border-box;
    display: grid;

    .button {
        height: 45.28px;
        color: $inverseFontColor;
        font-size: 1em;
        margin: 20px 25px 0 auto;
    }

    .icon {
        margin-right: 10px;
    }
}

.pagecontent {
    width: 100vw;
    // height: calc(100vh - 199.28px);
    box-sizing: border-box;
    padding: 20px;
}
