@import "../../styles/variables";

.two {
    display: grid;
    grid-template-rows: min-content auto min-content;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }

    .body {
        margin: auto;

        .row {
            display: grid;
            grid-template-columns: 300px calc(100% - 300px);
            padding: 10px;

            .boldText {
                font-size: 1em;
                font-weight: 700;
            }
        }

        .dividerDiv {
            margin: 10px 0;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px 0px 5px 0px;

        Button {
            font-size: 1em;
            height: 40px;
            padding: $formButtonPadding2;
        }

        .backBtn {
            text-align: left;
            Button {
                background-color: #c2c2c2;
                color: $inverseFontColor;
            }
        }

        .doneBtn {
            text-align: right;
            Button {
                background-color: $primaryMain;
                color: $inverseFontColor;
            }
        }
    }
}
