@import "../../styles/variables";

.three {
    display: grid;
    grid-template-rows: min-content auto min-content;
    width: calc(100vw - 48px);
    height: calc(100vh - 20px);
    box-sizing: border-box;

    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }

    .body {
        margin: 20px 0px 0px 0px;
    }

    .btndiv {
        text-align: right;
        Button {
            font-size: 1em;
            width: auto;
            margin: 0 0 15px 0;
        }
    }

    .footer {
        padding: 20px 0px 10px 0px;
        text-align: right;

        Button {
            font-size: 1em;
            width: auto;
            background-color: $primaryMain;
            color: $inverseFontColor;

            &:disabled {
                background-color: hsl(230, 66%, 55%);
                color: $inverseFontColor;
            }
        }
    }
}
