@import "../../styles/_variables.scss";

.container {
    display: grid;
    grid-template-rows: min-content min-content;
    grid-row-gap: 20px;
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 60px 0;

    .bottom {
        display: grid;
        margin: auto;

        .label {
            text-align: center;
            // color: $primaryDark;
            font-size: 6em;
            font-weight: 700;
        }

        .btnDiv {
            margin: 40px auto;

            Button {
                font-size: 1em;
                height: 40px;
                padding: $formButtonPadding2;
                background-color: $primaryMain;
                color: white;
            }
        }
    }
}
