@import "../../styles/variables";

.container {
    display: flex;
    justify-content: center;
    width: 100px;
    height: min-content;
    padding: 20px;

    .description {
        white-space: nowrap;
        text-align: center;
        font-size: 1em;
        font-weight: 600;
    }

    .buttonRow {
        display: grid;
        grid-template-columns: auto min-content;
        grid-column-gap: 30px;
        text-align: right;

        Button {
            font-size: 1em;
            margin: 20px 0px 5px 0px;
            height: 45px;
            width: 190px;
        }

        .cancelBtnDiv {
            .cancelBtn {
                border-color: $primaryMain;
                color: $primaryMain;
            }
        }

        .submitBtnDiv {
            .submitBtn {
                background-color: $primaryMain;
                color: $inverseFontColor;
            }
        }
    }
}
