@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto;
    height: calc(100vh - 86px);
    box-sizing: border-box;
}

.actionRow {
    width: 100vw;
    box-sizing: border-box;
    display: grid;

    .button {
        height: 53.28px;
        color: $inverseFontColor;
        font-size: 1em;
        margin: 20px 25px 20px auto;
       padding: $manageButtonPadding;
    }

    .icon {
        margin-right: 10px;
    }
}

.pagecontent {
    width: 100vw;
    // height: calc(100vh - 199.28px);
    box-sizing: border-box;
    padding: 0px 20px;
}
