@import "../../styles/variables";

.container {
    box-sizing: border-box;
}

.actionRow {
    width: 100vw;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto max-content;

    .search {
        width: 250px;
        margin: 20px 20px;

        .searchtextfield {
            height: 20px;
        }
    }

    .button {
        height: 53.28px;
        color: $inverseFontColor;
        font-size: 0.95em;
        margin: 20px 25px;
    }

    .icon {
        margin-right: 10px;
    }
}

.pagecontent {
    width: 100vw;
    // height: calc(100vh - 250px);
    height: calc(100vh - 199.28px);
    box-sizing: border-box;
    padding: 0px 20px;
}
