@import "../../styles/variables";

.container {
    width: 1000px;
    box-sizing: border-box;
    grid-template-columns: min-content auto;
}

.header {
    display: grid;
    grid-template-columns: auto min-content;
    font-size: 1.8em;
    font-weight: 600;

    .icon {
        color: red;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.body {
    .form {
        display: grid;
        grid-template-rows: auto min-content;

        .formFields {
            display: grid;
            grid-template-columns: min-content auto;
            grid-column-gap: 20px;

            .columnA {
                display: grid;
                grid-template-rows: min-content min-content auto;

                .image {
                    border-radius: 50%;
                    color: #6d6d6d;
                    padding: 55px 10px 10px 10px;

                    .imgWrapper {
                        height: 260px;
                        width: 260px;
                        border-radius: 50%;
                        overflow: hidden;

                        img {
                            height: 260px;
                            width: 260px;
                            object-fit: contained;
                        }
                    }
                }

                .employeeId {
                    margin-top: 10px;
                    font-size: 1em;
                    text-align: center;

                    .input {
                        text-align: center;
                        font-size: 1.1em;
                        font-weight: 600;
                    }
                }
            }

            .columnB {
                padding-top: 30px;

                .input {
                    text-align: left;
                    font-size: 1em;
                }

                .row {
                    display: grid;
                    grid-template-columns: 190px calc(100% - 190px);
                    padding: 8px 0;

                    .boldText {
                        font-size: 1em;
                        font-weight: 700;
                    }
                }

                .buttonRow {
                    text-align: right;

                    Button {
                        font-size: 1em;
                        margin: 20px 0px 5px 0px;
                        height: 45px;
                        padding: 0 40px;
                        background-color: $primaryMain;
                        color: $inverseFontColor;
                    }
                }
            }
        }
    }
}
