@import "../../styles/variables";

.container {
    display: grid;
    grid-template-columns: auto min-content;
    height: 95px;
    width: calc(100vw - 280px); //Have to consider the width of the shared/sideBar.tsx
    align-items: center;
    background: $layoutColor;

    .heading {
        font-size: 1.8em;
        font-weight: 600;
        padding-left: 20px;
    }

    .avatar {
        height: 50px;
        width: 50px;
        margin: 0px 15px;
    }
}
