@import "../../styles/variables";

.container {
    display: grid;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: calc(100vh - 86px);
    box-sizing: border-box;

    .hidden {
        display: none;
    }

    Button {
        width: max-content;
        height: 40px;
        font-size: 1em;
        white-space: nowrap;
    }

    .paper {
        background-color: $paperColor;
        border-radius: 15px;
        max-height: calc(100vh - 126px);

        .form {
            display: grid;
            grid-template-rows: min-content auto min-content;
            margin: 10px 20px;

            .header {
                display: grid;
                grid-template-rows: min-content min-content;
                font-size: 1.3em;
                font-weight: 600;
                padding: 10px;
                text-align: left;

                .step {
                    margin: 5px 0 0 0;
                    color: $primaryLight;
                    font-size: 0.6em;
                }
            }

            .one {
                width: calc(100vw - 80px);

                .body {
                    display: grid;
                    grid-template-columns: calc(60% - 20px) min-content calc(40% - 20px);
                    text-align: right;

                    .btnRow {
                        display: grid;
                        grid-template-columns: 270px auto min-content;
                        margin: 15px 0;
                    }

                    .divider {
                        margin: 0 20px;
                    }

                    .deleteItemBtn {
                        &:hover {
                            color: red;
                        }
                    }

                    .purcahseOrder {
                        max-width: inherit;
                        height: calc(100vh - 215px);
                    }

                    .quotations {
                        display: grid;
                        grid-template-rows: min-content min-content auto;

                        .analytics {
                            display: grid;
                            grid-template-columns: min-content auto min-content;
                            align-items: center;
                            width: 100%;

                            .arrow {
                                color: $secondaryMain;
                                font-size: 2em;

                                & :hover {
                                    cursor: pointer;
                                    color: $primaryMain;
                                }
                            }

                            .card {
                                display: grid;
                                grid-template-columns: 20% 50% 30%;
                                background-color: #f0f0f0;
                                border-radius: 20px;
                                height: 100px;
                                margin: 10px 0px 5px 0px;

                                .imageDiv {
                                    display: flex;
                                    border-radius: 100%;
                                    justify-content: center;
                                    align-items: center;

                                    img {
                                        height: 80px;
                                    }
                                }

                                .itemDetails {
                                    margin: auto 0;
                                    font-weight: 700;

                                    .productid {
                                        text-align: left;
                                        color: $primaryMain;
                                        font-size: 0.9em;
                                        margin-bottom: 6px;
                                    }

                                    .name {
                                        font-size: 0.8em;
                                        text-align: left;
                                        color: $secondaryDark;
                                    }
                                }

                                .statistics {
                                    text-align: center;
                                    margin: auto 0;
                                    font-weight: 700;
                                    color: red;

                                    .redText {
                                        font-size: 0.8em;
                                        margin-bottom: 6px;
                                    }
                                }
                            }
                        }

                        .quotationHeader {
                            display: grid;
                            grid-template-columns: min-content auto min-content;
                            align-items: center;
                            margin: 10px 0 10px 0;
                            width: 100%;

                            .title {
                                font-size: 1.3em;
                                font-weight: 600;
                                padding: 10px;
                                text-align: left;
                            }
                        }
                    }
                }
            }

            .two {
                width: calc(100vw - 80px);
                height: calc(100vh - 215px);

                .orderDetails {
                    display: grid;
                    grid-template-columns: 50% 50%;
                    padding: 0px 20px;

                    .details {
                        margin: 5px 0 10px 0;
                        table-layout: auto !important;
                        width: 100% !important;
                        box-sizing: border-box !important;

                        tr {
                            th {
                                width: 200px !important;
                                height: 30px;
                            }
                        }
                    }
                }
            }

            .footer {
                display: grid;
                grid-template-columns: auto auto;
                padding: 20px 0px 10px 0px;

                .nextBtn {
                    text-align: right;
                    Button {
                        width: auto;

                        &:disabled {
                            background-color: hsl(230, 66%, 57%);
                            color: $inverseFontColor;
                        }
                    }
                }
            }
        }
    }
}
