@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto;
    height: calc(100vh - 86px);
    box-sizing: border-box;
}

.hidden {
    display: none;
}

.actionRow {
    width: 100vw;
    box-sizing: border-box;
    display: grid;

    .button {
        height: 53.28px;
        color: $inverseFontColor;
        font-size: 1em;
        padding: $manageButtonPadding;
        margin: 20px 25px 0px auto;
    }

    .icon {
        margin-right: 10px;
    }
}

.pagecontent1 {
    width: 100vw;
    height: calc(100vh - 40px);
    box-sizing: border-box;
    padding: 20px;
}

.pagecontent2 {
    width: 100vw;
    height: calc(100vh - 132px);
    box-sizing: border-box;
    padding: 20px;
}
