@import "../../styles/variables";

.container {
    box-sizing: border-box;
}

.actionRow {
    width: 100vw;
    box-sizing: border-box;
    display: inline-flex;
    flex-direction: row-reverse;
    padding: 0 25px;

    .qbutton {
        width: 166.75px;
        height: 53.28px;
        color: $inverseFontColor;
        font-size: 0.95em;
        margin: 20px 0 20px 20px;
    }

    .pobutton {
        width: 283.72px;
        height: 53.28px;
        color: $inverseFontColor;
        font-size: 0.95em;
        margin: 20px 0 20px 20px;
    }

    .icon {
        margin-right: 10px;
    }
}

.pagecontent {
    width: 100vw;
    height: calc(100vh - 199.27px);
    box-sizing: border-box;
    padding: 0px 20px;
}
