@import "../../styles/variables";

.container {
    max-width: inherit;

    .btnRow {
        display: grid;
        grid-template-columns: 270px auto min-content;
        margin: 15px 0;
    }

    .deleteItemBtn {
        &:hover {
            color: red;
        }
    }
}
