@import "../../styles/variables";

.container {
    display: grid;
    grid-template-columns: min-content auto min-content;
    align-items: center;
    width: 100%;

    .arrow {
        color: $secondaryMain;
        font-size: 2em;

        & :hover {
            cursor: pointer;
            color: $primaryMain;
        }
    }

    .card {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        background-color: #f0f0f0;
        border-radius: 20px;
        height: 100px;
        margin: 10px 0px 5px 0px;

        .imageDiv {
            display: flex;
            border-radius: 100%;
            justify-content: center;
            align-items: center;

            img {
                height: 80px;
            }
        }

        .itemDetails {
            display: grid;
            grid-row-gap: 6px;
            margin: auto 0;
            font-weight: 700;
            font-size: 0.9em;
            text-align: left;

            .productid {
                color: $primaryMain;
            }

            .name {
                color: $secondaryDark;
            }
        }

        .statistics {
            display: grid;
            grid-row-gap: 6px;
            text-align: center;
            margin: auto 0;
            font-weight: 700;
            color: red;

            .redText {
                font-size: 0.8em;
            }
        }
    }
}
