@import "../../styles/variables";

.one {
    display: grid;
    grid-template-rows: min-content auto min-content;
    height: inherit;
    // box-sizing: border-box;

    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }

    .body {
        display: grid;
        grid-template-columns: calc(55% - 20px) min-content calc(45% - 20px);
        text-align: right;
        margin: 10px 0 0 0;

        .purchaseOrder {
            max-width: inherit;
            height: inherit;

            .btnRow {
                display: grid;
                grid-template-columns: 270px auto min-content;
                height: 56.266px;
                margin: 15px 0;

                Button {
                    padding: 0 25px;
                    font-size: 1em;
                    height: 36.27px;
                    white-space: nowrap;
                }
            }

            .deleteItemBtn {
                &:hover {
                    color: red;
                }
            }
        }

        .divider {
            margin: 0 20px;
        }

        .quotations {
            display: grid;
            grid-template-rows: min-content auto;
            height: inherit;
        }
    }

    .footer {
        padding: 20px 0px 10px 0px;
        text-align: right;

        Button {
            padding: $formButtonPadding2;
            font-size: 1em;
            white-space: nowrap;
            height: 40px;

            &:disabled {
                background-color: hsl(230, 66%, 57%);
                color: $inverseFontColor;
            }
        }
    }
}
