@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content min-content auto;

    .quotationHeader {
        display: grid;
        grid-template-columns: min-content auto;
        grid-column-gap: 10%;
        margin: 25px 0 10px 0;

        .title {
            font-size: 1.3em;
            font-weight: 600;
            padding: 0 10px;
            text-align: left;
        }

        .quotationSelect {
            display: grid;
            grid-template-columns: auto min-content;
            grid-column-gap: 20px;

            Button {
                padding: 0 25px;
                font-size: 1em;
                white-space: nowrap;
                height: 36.27px;
            }
        }
    }

    .quotationTable {
        margin: 10px;
        overflow: auto;
        height: calc(100vh - 362.27px);
    }
}
