@import "../../styles/variables";

.two {
    display: grid;
    grid-template-rows: min-content auto min-content;
    height: 100%;
    overflow: hidden;

    Button {
        width: max-content;
        height: 40px;
        font-size: 1em;
        white-space: nowrap;
    }

    .header {
        display: grid;
        grid-template-columns: auto min-content;
        font-size: 1.55em;
        font-weight: 600;
        .icon {
            color: red;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .body {
        .orderDetails {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 25px 20px;

            .details {
                table-layout: auto !important;
                width: 100% !important;
                box-sizing: border-box !important;

                tr {
                    th {
                        width: 200px !important;
                        height: 30px;
                    }
                }
            }
        }
    }

    .footer {
        padding: 20px 0px 10px 0px;
        text-align: right;

        Button {
            width: auto;

            &:disabled {
                background-color: hsl(230, 66%, 57%);
                color: $inverseFontColor;
            }
        }
    }
}
