@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto min-content;
    width: calc(100vw - 50px);
    height: calc(100vh - 25px);
    box-sizing: border-box;
    overflow: hidden;
    
    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }
        
        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }
    
    .body {
        display: grid;
        grid-template-rows: min-content min-content;
        height: calc(100vh - 316px);

        .orderDetails {
            display: grid;
            grid-template-columns: 40% 60%;
            padding: 20px;

            .red {
                color: red;
                font-weight: 600;
            }

            .details {
                table-layout: auto !important;
                width: 100% !important;
                box-sizing: border-box !important;

                tr {
                    th {
                        width: 200px;
                        height: 30px;
                    }

                    .thAlign {
                        width: 150px;
                        white-space: nowrap;
                        padding: 2px 1px 1px 40px;
                        vertical-align: top;
                        text-align: left;
                    }

                    .tdAlign {
                        vertical-align: top;
                        text-align: left;
                        overflow: auto;

                        div {
                            width: 100%;
                            height: 107.28px;
                            margin: 0;
                            padding: 0;
                            overflow: auto;
                        }

                        .chip {
                            height: 30px;
                            width: min-content;
                            margin: 3px;
                            background-color: $secondaryLight;

                            &:hover {
                                background-color: $primaryMain;
                                color: $inverseFontColor;
                            }
                        }
                    }
                }
            }
        }
    }

    .footer {
        text-align: right;
        padding: 30px 0px 10px 0px;

        Button {
            font-size: 1em;
            padding: $formButtonPadding;
            height: 40px;
            width: auto;

            &:disabled {
                background-color: hsl(230, 66%, 57%);
                color: $inverseFontColor;
            }
        }
    }
}
