@import "../../styles/variables";

.two {
    display: grid;
    grid-template-rows: min-content auto min-content;
    width: calc(100vw - 50px);
    height: calc(100vh - 20px);
    box-sizing: border-box;
    overflow: hidden;

    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }

    .body {
        .orderDetails {
            display: grid;
            grid-template-columns: 50% 50%;
            padding: 20px;

            .details {
                table-layout: auto !important;
                width: 100% !important;
                box-sizing: border-box !important;

                tr {
                    th {
                        width: 200px !important;
                        height: 30px;
                    }

                    .blue {
                        color: $primaryMain;
                        font-weight: 600;
                    }

                    .red {
                        color: red;
                        font-weight: 600;
                    }
                }
            }
        }
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px 0px 10px 0px;

        Button {
            font-size: 1em;
            white-space: nowrap;
            padding: $formButtonPadding2;
            height: 40px;
            color: $inverseFontColor;
        }

        .backBtn {
            Button {
                background-color: #aca9bb;
                &:disabled {
                    background-color: #c2c2c2;
                    color: $inverseFontColor;
                }
            }
        }

        .nextBtn {
            text-align: right;
            Button {
                &:disabled {
                    background-color: hsl(230, 66%, 57%);
                    color: $inverseFontColor;
                }
            }
        }
    }
}
