@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto;
    height: inherit;
    box-sizing: border-box;

    .header {
        display: grid;
        grid-template-columns: auto min-content;
        font-size: 1.55em;
        font-weight: 600;
        padding: 20px;

        .blue {
            color: $primaryMain;
        }

        .icon {
            color: red;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .body {
        display: grid;
        grid-template-rows: min-content auto;
    }
}
