@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: auto min-content;
    width: 100%;
    height: 100%;
    box-sizing: border-box;

    .body {
        margin: 0 20px;
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px;

        Button {
            font-size: 1em;
            height: 40px;
            padding: $formButtonPadding2;
        }

        .backBtn {
            text-align: left;
            Button {
                background-color: #c2c2c2;
                color: $inverseFontColor;
            }
        }

        .doneBtn {
            text-align: right;
            Button {
                background-color: $primaryMain;
                color: $inverseFontColor;
            }
        }
    }
}
