@import "../../styles/variables";

.wrapper {
    display: grid;
    grid-template-rows: auto min-content;
    width: 100%;
    height: calc(100vh - 650px);
    background-color: $paperColor;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    
    .info {
        display: grid;
        grid-template-columns: min-content auto min-content;
        align-items: center;

        .arrow {
            color: $secondaryMain;

            & :hover {
                cursor: pointer;
                color: $primaryMain;
            }
        }

        .card {
            display: grid;
            grid-template-rows: min-content auto;
            grid-row-gap: 10px;

            .imageDiv {
                height: 120px;
                width: 120px;
                margin: 0 auto;

                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                    border-radius: 100%;
                }
            }

            .itemDetails {
                display: grid;
                grid-template-rows: min-content min-content min-content;
                grid-row-gap: 6px;
                font-weight: 700;
                font-size: 0.9em;
                text-align: center;

                .productid {
                    color: $primaryMain;
                }

                .name {
                    color: $secondaryDark;
                }
            }
        }
    }

    .redText {
        font-size: 0.8em;
        color: red;
    }

    .whiteText {
        font-size: 0.8em;
        color: white;
    }

    .statistics {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 6px;
        text-align: center;
        font-weight: 700;
        padding: 18px;
    }

    .redStatistics {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-column-gap: 6px;
        text-align: center;
        font-weight: 700;
        background-color: red;
        padding: 18px;
        border-radius: 0 0 8px 8px;
    }
}
