@import "../styles/variables";

.tablecontainer {
    overflow-x: auto;
    overflow-y: auto;
    height: min-content;
    white-space: nowrap;
    margin: 10px 20px;
    box-sizing: border-box;

    .table {
        .tablehead {
            position: sticky;
            top: 0;
            .tableheadrow {
                background-color: $primaryMain;
                font-size: 1.3em;
                .tablecell {
                    color: $inverseFontColor;
                }
            }
        }

        .columnonesticky {
            position: sticky;
            left: 0;
        }

        .columntwosticky {
            position: sticky;
            left: 76px;
        }

        .columnlaststicky {
            position: sticky;
            right: 0px;
        }

        .greytablerow {
            background-color: $secondaryLight;
        }

        .tablebody {
            .tablerow {
                &:hover {
                    background-color: #949494;
                }
                .grid {
                    white-space: nowrap;
                    .visibilityIcon {
                        margin-right: 15px;
                        &:hover {
                            color: $infoColor;
                        }
                    }
                    .editIcon {
                        &:hover {
                            color: $warningColor;
                        }
                    }
                }
            }
        }
    }
}
