@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto min-content;
    box-sizing: border-box;
    width: 700px;
    min-height: 654px;

    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }

    .body {
        margin: auto 0;
        font-size: 1em;

        .row {
            display: grid;
            grid-template-columns: 240px calc(100% - 240px);
            padding: 8px 20px;

            .boldText {
                font-weight: 700;
            }

            .blue {
                color: $primaryMain;
                font-weight: 700;
            }

            .green {
                color: $successColor;
                font-weight: 700;
            }

            .input {
                text-align: left;
                white-space: normal;
                display: inline;
            }
        }
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px 0px 5px 0px;

        Button {
            font-size: 1em;
            height: 40px;
            padding: $formButtonPadding2;
        }

        .backBtn {
            text-align: left;
            Button {
                background-color: #c2c2c2;
                color: $inverseFontColor;
            }
        }

        .doneBtn {
            text-align: right;
            Button {
                background-color: $primaryMain;
                color: $inverseFontColor;
            }
        }
    }
}
