@import "../../styles/variables";

.container {
    width: 900px;
    box-sizing: border-box;

    .header {
        font-size: 1.8em;
        font-weight: 600;
        display: grid;
        grid-template-columns: auto min-content;

        .icon {
            color: red;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .body {
        .form {
            .redFont {
                color: red;
                font-size: 0.7em;
            }

            .row {
                padding: 8px 0;
            }

            .gridrow {
                display: grid;
                grid-template-columns: 160px auto;
                grid-column-gap: 20px;
                padding: 8px 0;
            }

            .twocolumns {
                display: grid;
                grid-template-columns: calc(50% - 10px) calc(50% - 10px);
                grid-column-gap: 20px;
            }

            .threecolumns {
                display: grid;
                grid-template-columns: calc(20% - 10px) calc(20% - 10px) calc(60% - 20px);
                grid-column-gap: 20px;
            }

            .buttonRow {
                display: grid;
                grid-template-columns: auto min-content;
                grid-column-gap: 30px;
                text-align: right;

                Button {
                    font-size: 1em;
                    margin: 20px 0px 5px 0px;
                    height: 45px;
                    width: 190px;
                }

                .resetBtnDiv {
                    .resetBtn {
                        border-color: $primaryMain;
                        color: $primaryMain;
                    }
                }

                .submitBtnDiv {
                    .submitBtn {
                        background-color: $primaryMain;
                        color: $inverseFontColor;
                    }
                }
            }
        }
    }
}
