@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto min-content;
    box-sizing: border-box;
    width: 700px;
    min-height: 654px;

    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }

    .body {
        margin: auto 0;

        .redFont {
            color: red;
            font-size: 0.7em;
            padding: 15px 0 8px 0;
        }

        .row {
            padding: 10px 0;
        }

        .gridrow {
            display: grid;
            grid-template-columns: 160px auto;
            grid-column-gap: 20px;
            padding: 9px 0;
        }

        .twocolumns {
            display: grid;
            grid-template-columns: calc(50% - 10px) calc(50% - 10px);
            grid-column-gap: 20px;
        }

        .threecolumns {
            display: grid;
            grid-template-columns: calc(20% - 10px) calc(20% - 10px) calc(60% - 20px);
            grid-column-gap: 20px;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 15px 0px 5px 0px;

        Button {
            font-size: 1em;
            height: 40px;
            padding: $formButtonPadding2;
        }

        .resetBtn {
            text-align: left;
            Button {
                background-color: #c2c2c2;
                color: $inverseFontColor;
            }
        }

        .nextBtn {
            text-align: right;
            Button {
                background-color: $primaryMain;
                color: $inverseFontColor;
            }
        }
    }
}
