@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto min-content;
    box-sizing: border-box;
    width: 870px;
    height: 487.5px;
}

.title {
    display: grid;
    grid-template-columns: auto min-content;
    font-size: 1.55em;
    font-weight: 600;
    .icon {
        color: red;
        &:hover {
            transform: scale(1.1);
        }
    }
}

.step {
    margin: 5px 0 0 0;
    color: $primaryLight;
    font-size: 0.75em;
}

.body {
    width: 700px;
    margin: auto;

    .redFont {
        color: red;
        font-size: 0.7em;
        margin: 8px 0 2px 0;
    }

    .row {
        margin: 3px 0 0 0;
        height: 56.26px;
    }

    .twocolumns {
        display: grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        grid-column-gap: 20px;
    }

    .threecolumns {
        display: grid;
        grid-template-columns: calc(33% - 11px) calc(33% - 11px) calc(33% - 11px);
        grid-column-gap: 20px;
    }

    .twominionefullcolumns {
        display: grid;
        grid-template-columns: calc(25% - 13px) calc(25% - 13px) calc(50% - 13px);
        grid-column-gap: 20px;
    }
}

.footer {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-column-gap: 20px;
    padding: 0px 0px 5px 0px;

    Button {
        font-size: 1em;
        height: 40px;
        padding: $formButtonPadding2;
    }

    .backBtn {
        text-align: left;
        Button {
            background-color: #c2c2c2;
            color: $inverseFontColor;
        }
    }

    .resetBtn {
        text-align: right;
        Button {
            background-color: #c2c2c2;
            color: $inverseFontColor;
        }
    }

    .doneBtn {
        text-align: right;
        Button {
            background-color: $primaryMain;
            color: $inverseFontColor;
        }
    }
}
