@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto min-content;
    box-sizing: border-box;
    width: 870px;
    height: 487.5px;

    .title {
        display: grid;
        grid-template-columns: auto min-content;
        font-size: 1.55em;
        font-weight: 600;
        .icon {
            color: red;
            &:hover {
                transform: scale(1.1);
            }
        }
    }

    .step {
        margin: 5px 0 0 0;
        color: $primaryLight;
        font-size: 0.75em;
    }

    .body {
        display: grid;
        grid-template-columns: min-content auto;
        grid-column-gap: 20px;
    }

    .columnA {
        display: grid;
        grid-template-rows: min-content min-content min-content auto;
    }

    .image {
        border-radius: 50%;
        color: #6d6d6d;
        padding: 30px 10px;
        // position: relative;
    }

    .imgWrapper {
        height: 220px;
        width: 220px;
        border-radius: 50%;
        overflow: hidden;

        img {
            height: 220px;
            width: 220px;
            object-fit: contained;
        }
    }

    .productId {
        margin-top: 10px;
        font-size: 1em;
        text-align: center;
    }

    .input {
        border: none;
        border-color: transparent;
        text-align: center;
        font-size: 1em;
        font-weight: 600;

        &:disabled {
            background: #ffffff;
        }
    }

    .columnB {
        margin: auto 0;
    }

    .redFont {
        color: red;
        font-size: 0.7em;
    }

    .row {
        margin: 5px 0 0 0;
        height: 56.26px;
    }

    .twocolumns {
        display: grid;
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        grid-column-gap: 20px;
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px 0px 5px 0px;

        Button {
            font-size: 1em;
            height: 40px;
            padding: $formButtonPadding2;
        }

        .backBtn {
            text-align: left;
            Button {
                background-color: #c2c2c2;
                color: $inverseFontColor;
            }
        }

        .doneBtn {
            text-align: right;
            Button {
                background-color: $primaryMain;
                color: $inverseFontColor;
            }
        }
    }
}
