@import "../../styles/variables";

.container {
    display: grid;
    grid-template-rows: min-content auto min-content;
    width: 700px;
    min-height: 570px;
    box-sizing: border-box;

    .header {
        .title {
            display: grid;
            grid-template-columns: auto min-content;
            font-size: 1.55em;
            font-weight: 600;
            .icon {
                color: red;
                &:hover {
                    transform: scale(1.1);
                }
            }
        }

        .step {
            margin: 5px 0 0 0;
            color: $primaryLight;
            font-size: 0.75em;
        }
    }

    .body {
        margin: auto 0;

        .redFont {
            color: red;
            font-size: 0.7em;
            margin: 20px 0 2px 0;
        }

        .row {
            padding: 6px 0;
        }

        .columns {
            display: grid;
            grid-template-columns:
                calc(calc(100% / 3) - calc(40px / 3))
                calc(calc(100% / 3) - calc(40px / 3))
                calc(calc(100% / 3) - calc(40px / 3));
            grid-column-gap: 20px;
        }

        .dividerDiv {
            margin: 25px 0 15px 0;
            font-weight: 600;
            font-size: 1em;
            // text-align: center;
        }

        .twocolumns {
            display: grid;
            grid-template-columns: calc(50% - 10px) calc(50% - 10px);
            grid-column-gap: 20px;
        }

        .threecolumns {
            display: grid;
            grid-template-columns: calc(30% - 10px) calc(20% - 10px) calc(50% - 20px);
            grid-column-gap: 20px;
        }
    }

    .footer {
        display: grid;
        grid-template-columns: auto auto;
        padding: 20px 0px 5px 0px;

        Button {
            font-size: 1em;
            height: 40px;
            padding: $formButtonPadding2;
        }

        .resetBtn {
            text-align: left;
            Button {
                background-color: #c2c2c2;
                color: $inverseFontColor;
            }
        }

        .nextBtn {
            text-align: right;
            Button {
                background-color: $primaryMain;
                color: $inverseFontColor;
            }
        }
    }
}
