@import "../../styles/variables";

.container1 {
    display: grid;
    grid-template-rows: min-content auto;
    box-sizing: border-box;
    width: 900px;
    height: 700px;
}

.container2 {
    display: grid;
    grid-template-rows: min-content auto;
    height: calc(100vh - 20px);
    box-sizing: border-box;
}

.header {
    display: grid;
    grid-template-columns: auto min-content;
    font-size: 1.8em;
    font-weight: 600;

    .icon {
        color: red;

        &:hover {
            transform: scale(1.1);
        }
    }
}

.form {
    display: grid;
    grid-template-rows: auto min-content;

    .formFields {
        width: 710px;
        margin: auto auto;

        .input {
            text-align: left;
            font-size: 1em;
            white-space: nowrap;
        }

        .row {
            display: grid;
            grid-template-columns: 300px calc(100% - 300px);
            padding: 8px 25px;

            .boldText {
                font-size: 1em;
                font-weight: 700;
            }
        }
    }

    .buttonRow {
        text-align: right;

        Button {
            font-size: 1em;
            margin: 20px 0px 5px 0px;
            height: 45px;
            padding: $formButtonPadding;
            background-color: $primaryMain;
            color: $inverseFontColor;
        }
    }
}
