@import "../../styles/variables";

.container {
    display: grid;
    height: 100vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    background: $primaryLight;
    background-image: url("background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    .login {
        display: grid;
        grid-template-rows: auto min-content;
        background: #ffffff;
        border-radius: 10px;
        justify-content: center;
        height: 581px;
        width: 450px;

        .top {
            display: grid;
            grid-template-rows: min-content min-content min-content min-content min-content;

            .logo {
                margin: 50px auto 15px auto;
            }

            .heading {
                font-size: 1.2em;
                font-weight: 600;
                margin: 15px auto 39px auto;
            }

            .textfield {
                margin: 5px 0 0 0;
                height: 75.27px;

                .field {
                    width: 400px;
                }
            }

            .div {
                margin: 12px auto 20px auto;

                .forgotPassword {
                    font-size: 0.8em;
                    margin: 0 auto 20px auto;
                    text-align: center;
                }

                .button {
                    color: $inverseFontColor;
                    font-size: 1.2em;
                    height: 40px;
                    width: 150px;
                }
            }
        }
        .copyright {
            color: $secondaryFontColor;
            font-size: 0.8em;
            margin: 5px auto 20px auto;
            text-align: center;
        }
    }
}
