@import "../../styles/variables";

.container {
    height: calc(100vh - 86px);
    overflow: hidden;
    // background: $primaryLight;
    // background-image: url("background.png");
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center center;
    // background-attachment: fixed;
    display: grid;
    // backdrop-filter: blur(3px);
    // height: calc(100vh - 86px);
    width: 100vw;
    align-items: center;
    justify-content: center;

    // .blurDiv {

    .paper {
        display: grid;
        grid-template-rows: min-content min-content min-content min-content min-content min-content;
        background: #ffffff;
        border-radius: 10px;
        justify-content: center;
        height: min-content;
        width: 500px;
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

        .logo {
            margin: 50px auto 20px auto;
        }

        .heading {
            font-size: 1.2em;
            font-weight: 600;
            // margin: 30px 6px 10px 7px;
            margin: 20px auto 15px auto;
        }

        .textfield {
            margin: 10px 0;
            width: 248.59px;
        }

        .div {
            margin: 25px auto 50px auto;

            .button {
                color: $inverseFontColor;
                font-size: 1.2em;
                height: 40px;
                width: 150px;
            }
        }
    }
}
// }
