@import "../../styles/variables";

@media only screen and (min-width: 768px) {
    .mediumScreen {
        height: calc(100vh - 86px);
        width: 100vw;
        padding: 20px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto max-content;
        grid-column-gap: 20px;

        .scrollable {
            display: grid;
            grid-template-rows: min-content min-content min-content min-content;
            grid-row-gap: 20px;
            overflow: auto;

            .userInfo {
                display: grid;
                grid-template-rows: min-content min-content;
                background-color: $paperColor;
                border-radius: 8px;
                height: min-content;
                padding: 30px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

                .imageRow {
                    height: min-content;
                    display: flex;
                    justify-content: center;
                    margin: 0 0 20px 0;

                    img {
                        width: 200px;
                        border-radius: 100%;
                    }
                }

                .infoRow {
                    .textDiv {
                        display: grid;
                        justify-content: center;
                        .text {
                            display: grid;
                            grid-template-columns: 80px max-content;
                            margin: 3px;

                            .boldtext {
                                font-size: 1em;
                                font-weight: 600;
                            }
                            .regulartext {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }

            .personalNotes {
                background-color: $paperColor;
                border-radius: 8px;
                height: 100px;
                padding: 30px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .notifications {
                background-color: $paperColor;
                border-radius: 8px;
                height: 100px;
                padding: 30px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .recentActivities {
                background-color: $paperColor;
                border-radius: 8px;
                height: 100px;
                padding: 30px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
        }

        .sticky {
            display: grid;
            grid-template-rows: min-content auto;
            grid-row-gap: 20px;

            .calendar {
                background-color: $paperColor;
                border-radius: 8px;
                height: min-content;
                padding: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .onlineUsers {
                background-color: $paperColor;
                border-radius: 8px;
                height: auto;
                padding: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
        }
    }

    .largeScreen {
        display: none;
    }

    .extraLargeScreen {
        display: none;
    }
}

@media only screen and (min-width: 1024px) {
    .mediumScreen {
        display: none;
    }

    .largeScreen {
        height: calc(100vh - 86px);
        width: 100vw;
        padding: 20px 30px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto max-content;
        grid-column-gap: 20px;

        .scrollable {
            display: grid;
            grid-template-rows: min-content min-content min-content min-content;
            grid-row-gap: 20px;
            overflow: auto;

            .userInfo {
                background-color: $paperColor;
                border-radius: 8px;
                height: min-content;
                padding: 25px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                margin: 0 auto;
                display: grid;
                grid-template-columns: min-content min-content;
                grid-column-gap: 30px;

                .imgCol {
                    height: min-content;
                    display: flex;
                    justify-content: center;

                    img {
                        width: 200px;
                        border-radius: 100%;
                    }
                }

                .infoCol {
                    margin: auto 0;
                    .textDiv {
                        display: grid;
                        justify-content: center;
                        .text {
                            display: grid;
                            grid-template-columns: 80px max-content;
                            margin: 3px;

                            .boldtext {
                                font-size: 1em;
                                font-weight: 600;
                            }
                            .regulartext {
                                font-size: 1em;
                            }
                        }
                    }
                }
            }

            .personalNotes {
                background-color: $paperColor;
                height: 100px;
                padding: 20px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .notifications {
                background-color: $paperColor;
                border-radius: 8px;
                height: 100px;
                padding: 20px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .recentActivities {
                background-color: $paperColor;
                border-radius: 8px;
                height: 100px;
                padding: 20px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
        }

        .sticky {
            display: grid;
            grid-template-rows: min-content auto;
            grid-row-gap: 20px;

            .calendar {
                background-color: $paperColor;
                border-radius: 8px;
                height: min-content;
                padding: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .onlineUsers {
                background-color: $paperColor;
                border-radius: 8px;
                height: auto;
                padding: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
        }
    }

    .extraLargeScreen {
        display: none;
    }
}

@media only screen and (min-width: 1440px) {
    .mediumScreen {
        display: none;
    }

    .largeScreen {
        display: none;
    }

    .extraLargeScreen {
        height: calc(100vh - 86px);
        width: 100vw;
        padding: 20px;
        box-sizing: border-box;
        display: grid;
        grid-template-columns: auto max-content;
        grid-column-gap: 20px;

        .scrollable {
            display: grid;
            grid-template-columns: min-content auto;
            grid-column-gap: 20px;
            overflow: hidden;

            .columnA {
                display: grid;
                grid-template-rows: min-content auto;
                grid-row-gap: 20px;

                .userInfo {
                    display: grid;
                    grid-template-rows: min-content min-content;
                    background-color: $paperColor;
                    border-radius: 8px;
                    height: min-content;
                    padding: 30px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

                    .imageRow {
                        height: min-content;
                        display: flex;
                        justify-content: center;
                        margin: 0 0 20px 0;

                        img {
                            width: 200px;
                            border-radius: 100%;
                        }
                    }

                    .infoRow {
                        .textDiv {
                            display: grid;
                            justify-content: center;
                            .text {
                                display: grid;
                                grid-template-columns: 80px max-content;
                                margin: 3px;

                                .boldtext {
                                    font-size: 1em;
                                    font-weight: 600;
                                }
                                .regulartext {
                                    font-size: 1em;
                                }
                            }
                        }
                    }
                }

                .personalNotes {
                    background-color: $paperColor;
                    border-radius: 8px;
                    height: auto;
                    padding: 30px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                }
            }

            .columnB {
                display: grid;
                grid-template-rows: auto auto;
                grid-row-gap: 20px;

                .notifications {
                    background-color: $paperColor;
                    border-radius: 8px;
                    height: auto;
                    padding: 30px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                }

                .recentActivities {
                    background-color: $paperColor;
                    border-radius: 8px;
                    height: auto;
                    padding: 30px;
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
                }
            }
        }

        .sticky {
            display: grid;
            grid-template-rows: min-content auto;
            grid-row-gap: 20px;

            .calendar {
                background-color: $paperColor;
                border-radius: 8px;
                height: min-content;
                padding: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }

            .onlineUsers {
                background-color: $paperColor;
                border-radius: 8px;
                height: auto;
                padding: 5px;
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            }
        }
    }
}
