$primaryFontColor: #000000;
$secondaryFontColor: #8a8a8a;
$inverseFontColor: #ffffff;

$primaryDark2: #25333B;
$primaryDark1: #132E3B;
$primary: #2B6684;
$primaryLight1: #3D91BA;
$primaryLight2: #7DADC6;

$infoColor: #2196f3;
$successColor: #4caf50;
$warningColor: #a64452;

$borderColor: #c2c2c2;
$layoutColor: #f0f4f8;
$paperColor: #ffffff;

$primaryFont: Poppins;
$primaryFontSize: 10;
