$primaryFontColor: #000000;
$secondaryFontColor: #8A8A8A;
$inverseFontColor: #ffffff;

$primaryLight: #829cd0;
$primaryMain: #20368f;
$primaryDark: #000b4f;

$secondaryLight: #ebebeb;
$secondaryMain: #6d6d6d;
$secondaryDark: #323232;

$infoColor: #2196f3;
$successColor: #4caf50;
$warningColor: #f44336;

$borderColor: #c2c2c2;
$layoutColor: #F0F4F8;
$paperColor: #ffffff;

$primaryFont: "Poppins";
$primaryFontSize: 10;
