$primaryFontColor: #000000;
$secondaryFontColor: #8a8a8a;
$inverseFontColor: #ffffff;

$primaryLight: #829cd0;
$primaryMain: #20369f;
$primaryDark: #000b4f;

$secondaryLight: #ebebeb;
$secondaryMain: #7a7a7a;
$secondaryDark: #323232;

$infoColor: #2196f3;
$successColor: #4caf50;
$warningColor: #cc3300;

$borderColor: #c2c2c2;
$layoutColor: #f0f4f8;
$paperColor: #ffffff;

$primaryFont: Poppins;
$primaryFontSize: 10;

$borderRadius: 15px;

$formButtonPadding: 0 50px;
$manageButtonPadding: 0 30px;
