@import "../../styles/variables";

.container {
    .actionTab {
        box-sizing: border-box;
        padding-right: 10px;
        text-align: right;

        .button {
            color: $inverseFontColor;
            font-size: 0.8em;
            margin: 15px;
        }

        .red {
            background: $warningColor;
        }

        .icon {
            margin-right: 10px;
        }
    }
}
